{% extends 'base.html'%} {% block head%}
<title>Book recommendor</title>
{% endblock %}
{%block body%}
<nav class="navbar navbar-expand-lg" style="font-size: 130%;">
  <div class="row" style="text-align: center;padding-left: 30rem;">
    <p class="navbar-brand" href="{{url_for('home')}}" style="color: #B1B1B1;">
      G.H. Raisoni College of Engineering <br>
      BOOK RECOMMENDER</p>
  </div>
    
  </nav>
  <div class="container-lg">
    <!-- <div class="jumbotron" style="background-color: #252E39; color: white; text-align: center;">
      <h1>G.H. Raisoni College of Engineering, Nagpur</h1>
  </div> -->
  </div>
  <div class="container-lg" style="margin-top: 120px">
    <div class=col>
    <div class="row">
      <!-- card 1 -->
      <div class="card mx-auto text-center">
        <div class="card-body" >
          <h5 class="card-title" style="color: white;">Guided By</h5>
          <p style="color: wheat;">
            Dr. Kapil Jajulwar
          </p>
        </div>
        <div class="card-body">
          <h5 class="card-title" style="color: white;">Made By:</h5>
          <p style="align-content: space-between;">
            <ul class="list" style="color: wheat; text-align: left;">
              <li>
                Pratik Pithore
              </li>
              <li>
                Prateek Bansal
              </li>
              <li>
                Tejas Tamney
              </li>
              <li>
                Raj Gugnani
              </li>
              <li>
                Rounak Poptani
              </li>
            </ul>
          </p>
        </div>
      </div>    
      <!-- card 2 -->
      <div class="card mx-auto text-center">
        <div class="card-body" >
          <h5 class="card-title" style="color: white;">Vision</h5>
        </div>
        <div class="card-body">
          <p style="color: wheat;">
            Our idea is to ease out the task for engineering students to select a book which is BEST for them to refer through our Recommender!
          </p>
        </div>
      </div>    
      <!-- card3 -->
      <div class="card mx-auto text-center">
        <div class="card-body" >
          <h5 class="card-title" style="color: white;">How it Works?</h5>
        </div>
        <div class="card-body">
          <p style="color: wheat;">
            STEP 1:Click on the proceed button given below
            <br>
            <br>
            STEP 2:Select a category of your choice
            <br>
            <br>
            STEP 3:There You GO!
            <br>
            You will have our
            RECOMMENDATIONS!
         </p>
         <a href="{{url_for('home')}}">
          <button type="button" class="btn btn-primary">Proceed</button>
         </a>
        </div>
      </div>
{% endblock %}