{% extends 'base.html'%} {% block head%}
<title>Book recommendor</title>
{% endblock %}
{%block body%}
<nav class="navbar navbar-expand-lg" style="font-size: 100%;">
  <a>
    <img src="{{ url_for('static', filename='image/logo.jpg')}}" style="height:2cm; width: 2cm; border-radius: 50%;" alt="" >
  </a>
  <div class="row" style="text-align: center; padding-left:25rem;">
    <p class="navbar-brand" href="{{url_for('home')}}" style="color: whitesmoke;">
      G.H. Raisoni College of Engineering, Nagpur <br>
      Book Recommendation System</p>
  </div>
  </nav>
  <div class="container-lg" style="margin-top: 80px">
    <div class="accordion" id="accordionExample">
    <div class="row">
    <div class="col-sm">
        <div class="card mx-auto" style="width:25rem">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="width: 100%;">
                  Guided By
                </button>
              </h2>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                  <p style="text-align:center;">
                    Dr. Kapil Jajulwar<br>
                    (Assistant Professor, ETC, GHRCE)
                </p>
                  <hr>
              </div>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card mx-auto" style="width:25rem">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="width: 100%;">
                  Project By
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <p>
                    <ul class="list" style="text-align:left;">
                      <li>
                        Pratik Pithore<br>
                        (UG Student, ETC, GHRCE)
                      </li>
                      <li>
                        Prateek Bansal<br>
                        (UG Student, ETC, GHRCE)
                      </li>
                      <li>
                        Tejas Tamney<br>
                        (UG Student, ETC, GHRCE)
                      </li>
                      <li>
                        Raj Gugnani<br>
                        (UG Student, ETC, GHRCE)
                      </li>
                      <li>
                        Rounak Poptani<br>
                        (UG Student, ETC, GHRCE)
                      </li>
                    </ul>
                  </p>
              </div>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card mx-auto" style="width:25rem">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="width: 100%;">
                 Project vision
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <p style="color: black; text-align: center;">
                    Our idea is to ease out the task for engineering students to select a book which is BEST for them to refer through our Recommender!
                  </p>
              </div>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card mx-auto" style="width:25rem">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="width: 100%;">
                  Project Flow
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                <p style="color: black;">
                    STEP 1:Click on the proceed button given below
                    <br>
                    <br>
                    STEP 2:Select a category of your choice
                    <br>
                    <br>
                    STEP 3:There You GO!
                    <br>
                    You will have our
                    RECOMMENDATIONS!
                 </p>
                 <a href="{{url_for('home')}}">
                  <button type="button" class="btn btn-outline-danger" style="margin-left: 7rem;">Proceed</button>
                 </a>
              </div>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card mx-auto" style="width:25rem">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="width: 100%;">
                  Project Summary
                </button>
              </h2>
            </div>
            <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordionExample">
              <div class="card-body">
                <p>
                    Total Count of Books: 73
                   <hr>
                    <p>
                      <h5>
                        Categories Wise Count:
                      </h5>
                      
                    </p>
                    <hr>
                  </p>
                    <p>Machine Learning: 8</p>
                    <hr>
                    <p>Python Programming: 8</p>
                    <hr>
                    <p>Basic Programming: 12</p>
                    <hr>
                    <p>Mathematics: 8</p>
                    <hr>
                    <p>Artificial Intelligence: 4</p> 
                    <hr>
                    <p>C Programming: 10</p> 
                    <hr>
                    <p>Image Processing: 13</p> 
                    <hr>
                    <p>VLSI: 3</p> 
                    <hr>
                    <p>Java Programming: 6</p> 
              </div>
            </div>
          </div>
    </div>
    </div>
  </div>      
  </div>
{% endblock %}