body{
    font-family: 'B612', sans-serif; 
    background-image: url("photo_2020-10-28\ 22.19.50.jpeg");
}
.navbar{
    background-color: black;
}
img{
    height: 8cm;
    width: 7cm;
}
.navbar-brand{
    font-size: 150%;
    font-family: 'B612', sans-serif; 
}
.card{
    background-color:white;
    width: calc(25% - 20px);
    margin-bottom: 10rem;  
    border-radius:5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.page-footer{
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}
.sidenav {
    height: 75%;
    width: 250px;
    /* left: 0; */
    top: 0;
    position: fixed;
    background-color:darkgrey;
    overflow-x: hidden;
    padding-top: 55px;
    margin-top: 30px;
}